*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples28.jpeg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
}
.contenedor{
    width: 320px;
    height: 490px;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 40px 30px;
    border-color: white;
    border-style: groove;
}
.contenedor img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: calc(0% - 50px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.contenedor h1{
    color: blueviolet;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-align: end;
    padding-bottom: 20px;
    font-size: 2.5em;
    padding-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.contenedor label{
    font-weight: bold;
    display: block;
}
.contenedor input{
    width: 100%;
    margin-bottom: 20px;
    
}
.contenedor input[type="text"], .contenedor input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 40px;

}
.contenedor input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.5em;
    background-color: violet;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-broder-radius: 15px;
    -o-border-radius: 15px;
}
.contenedor input[type="button"]:hover, .contenedor input[type="button"]:focus{
background-color: lightblue;
color: black;
text-shadow: 1px 0px 1px white, 0px 1px 1px white, 2px 1px 1px white, 1px 2px 1px white, 3px 2px 1px white, 2px 3px 1px white, 4px 3px 1px white, 3px 4px 1px white, 5px 4px 1px white, 4px 5px 1px white, 6px 5px 1px white, 5px 6px 1px white, 7px 6px 1px white;
}
.contenedor a{
    text-decoration: none;
    display: block;
    color: darkgrey;
    font-size: 0.8em;
    line-height: 20px;
}
.contenedor #mensaje{
    border: none;
    font-size: .6em;
    font-weight: lighter;
}
.contenedor .blanco{
    color: white;
}
.contenedor .verde{
    color: green;
    font-size: 0.8em !important;     
}
.contenedor .rojo{
    color: red;
    font-size: 0.8em !important;   
}